<!DOCTYPE html>
<html lang="fr">
@include('components/partials/head_admin')

<body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme_contrast=""
    data-pc-theme="light">

    @include('components/partials/navbar_admin')
    @include('components/partials/header_admin')

    <div class="pc-container">
        {{{ await $slots.main() }}}
    </div>
    @include('components/partials/footer')

    <script>
        layout_change("light");
        layout_sidebar_change("false");
        change_box_container("false");
        layout_caption_change("true");
        layout_rtl_change("false");
        preset_change("preset-1");
    </script>

    @flashMessage('notification')
    <script src="/js/plugins/notifier.js"></script>
    <script>notifier.show("{{ $message.type }}", "{{ $message.message }}", 'danger', '', 4000)</script>
    @end
</body>

</html>
