<!DOCTYPE html>
<html lang="fr">
@!component('components/partials/head_main')

<body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme_contrast="" data-pc-theme="light">

    {{{ await $slots.main() }}}

    @flashMessage('notification')
    <script src="/js/plugins/notifier.js"></script>
    <script>notifier.show("{{ $message.title || t('translate.bug_notification_title') }}", "{{ $message.message || t('translate.bug_notification_message') }}", "{{ $message.type || 'info' }}", "", {{ $message.delay || '4000' }})</script>
    @end
</body>

</html>
