<!DOCTYPE html>
<html lang="fr">
@!component('components/partials/head_main')

<body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme_contrast="" data-pc-theme="light">

    {{{ await $slots.main() }}}

    @include('components/partials/notifier')
</body>

</html>
